.uninvisible-view{
	position: fixed;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	z-index: 999;
	display: none;
	background: rgba(19, 19, 19, 0.88);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s, opacity 0.3s;
	-o-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s, opacity 0.3s;
	-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s, opacity 0.3s;
	-ms-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s, opacity 0.3s;
	transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s, opacity 0.3s;
	cursor: url(fonts/icons/close_cursor.png) 25 25, auto;
	opacity: 0;
}
.uninvisible{
	color: red;
}
.uninvisible:hover { cursor: url(fonts/icons/plus_cursor.png) 25 25, auto; }

.uninvisible-view .caption-container{
	font-family: sans-serif;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 20px;
	color: #fff;
	word-spacing: 0.2px;
	text-shadow: -1px 0px 1px rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.6);
	border-top-right-radius: 5px;
	display: none;
}

.uninvisible-view .caption-container .caption-title{
	margin: 0px;
	padding: 0px;
	text-align: left;
	font-weight: normal;
	letter-spacing: 0.5px;
	line-height: 35px;
	font-weight: 100;
	display: none;
}

.uninvisible-view .caption-container .caption-text{
	margin: 0px;
	padding: 0px;
	font-weight: 100;
	max-width: 500px;
	text-align: left;
	background: none;
	margin-top: 5px;
	font-size: 17px;
	letter-spacing: 0.1px;
	display: none;
}

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.no-scrolling {
	height: 100%;
	overflow: hidden;
	position: fixed;
}